// Tablet View
@media (min-width: 768px) {

  body {

    background: url('../images/bg-pattern-top-mobile.svg') top 0 left 360px no-repeat,
      url('../images/bg-pattern-bottom-mobile.svg') bottom 0 right 0 no-repeat;
  }

  .container {
    width: 600px;
  }

  .heading {
    h1 {
      font-size: 2rem;
      max-width: 650px;
    }

    p {
      font-size: 1.2rem;
      max-width: 600px;
    }

  }

  .rating-container {
    .rating-item-review p {
      font-size: 1.2rem;
    }
  }

  .comment-container {
    .comment-items {
      .comment-item {
        .profile {
          display: flex;
          width: 100%;
          margin: 0 auto;
          padding-top: 40px;
          padding-left: 100px;

          img {
            width: 50px;
            border-radius: 50%;
          }

          .profile-info {
            color: $LightGrayishMagenta;
            font-size: 1rem;
          }
        }

        .comment {
          padding-bottom: 30px;

          p {
            font-size: 1rem;
            line-height: 1.7;
            width: 400px;
            text-align: left;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// Desktop view

@media (min-width: 1125px) {
  body {
    background-color: darkblue;
  }

}
