// Tablet View
@media (min-width: 481px) {

  body {

    background: url('../images/bg-pattern-top-mobile.svg') top 0 left 360px no-repeat,
      url('../images/bg-pattern-bottom-mobile.svg') bottom 0 right 0 no-repeat;
  }

  .container {
    width: 37.5rem;
  }

  .heading {
    h1 {
      font-size: 2rem;
      max-width: 40.625rem;
    }

    p {
      font-size: 1.2rem;
      max-width: 37.5rem;
    }

  }

  .rating-container {
    .rating-item-review p {
      font-size: 1.2rem;
    }
  }

  .comment-container {
    .comment-items {
      .comment-item {
        .profile {
          display: flex;
          width: 100%;
          margin: 0 auto;
          padding-top: 40px;
          padding-left: 100px;

          img {
            width: 50px;
            border-radius: 50%;
          }

          .profile-info {
            color: $LightGrayishMagenta;
            font-size: 1rem;
          }
        }

        .comment {
          padding-bottom: 30px;

          p {
            font-size: 1rem;
            line-height: 1.7;
            width: 25rem;
            text-align: left;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// Desktop view

// @media (min-width: 821px) {

//   body {
//     // background-color: darkblue;
//     background: url('../images/bg-pattern-top-desktop.svg') top -10px left -200px no-repeat,
//     url('../images/bg-pattern-bottom-desktop.svg') bottom 0 right 0 no-repeat;
//   }

//   main {
//     width: 821px;
//   }

//   .container {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: 200px;
//     // background-color: red;
//     width: inherit;
    
//   }

//   .heading {
//     // place-items: left;
//     text-align: left;
//     h1 {
//       font-size: 2rem;
//       width: 280px;
//       margin: 0;
//     }
//     p {
//       font-size: 0.7rem;
//       margin: 0;
//       padding-top: 10px;
//       width: 340px;
//     }
//   }

//   .rating-container {
//     .rating-items {
//       margin: 10px 0;
  
//       .rating-item {
//         background-color: red;

//         &:nth-child(2) {
//           background-color: blue;
//           width: 80%;
//           margin-left: 20px;
//         }
//         &:nth-child(3) {
//           background-color: rgb(89, 255, 0);
//           justify-items: end;
//         }
  
//         .rating-item-review {
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           padding: 0;
//           padding-top: 0px;
//           padding-bottom: 0px;

//           img {
//             width: 20px;
//             height: 20px;
//             padding: 5px;
//           }

//           p {
//             font-size: 0.6rem;
//             place-items: center;
//           }
//         }
//       }
//     }
//   }

//   .comment-container {
//     width: 100px;
//     display: flex;

//     .comment-items { 
//       display: flex;
//       width: 100px;
//       // display: grid;
//       // grid-template-rows: 1fr 1fr 1fr;
//       // grid-row: 1 / 4;
//       .item-3{
//         grid-row: 3 / 4;
//         .profile {
//           display: flex;
//           width: 100%;
//           margin: 0;
//           padding-top: 40px;
//           padding-left: 100px;
    
//           img {
//             width: 20px;
//             border-radius: 50%;
//           }
    
//           .profile-info {
//             color: $LightGrayishMagenta;
//             font-size: 0.5rem;
//           }
//         }
    
//         .comment {
//           padding-bottom: 30px;
//           font-size: 0.7rem;
//           p {
//             font-size: 0.7rem;
//             line-height: 1.7;
//             width: 25rem;
//             text-align: left;
//             margin: 0 auto;
//           }
//         }
//       }
//     }
//   }
// }
