@import 'config';

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Spartan',
  sans-serif;
  font-size: 15px;
  background: url('../images/bg-pattern-top-mobile.svg') top 0 left 0 no-repeat,
  url('../images/bg-pattern-bottom-mobile.svg') bottom -200px right 0 no-repeat;
  // background-size: contain;
}


// Footer

footer {
  bottom: 0;
  width: 100%;
  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }

  }
}
